NEXT_PUBLIC_API_URL=http://localhost:8100
NEXT_PUBLIC_S3_PUBLIC_BASE_URL=https://cdn.rodiumai.io
NEXT_PUBLIC_RODIUM_USER_APP_URL=http://localhost:3000
NEXT_PUBLIC_USE_FIREBASE_EMULATOR=1
NEXT_PUBLIC_FIREBASE_PROJECT_ID=rodiumai-local
NEXT_PUBLIC_FIRESTORE_DATABASE=rodiumaidb
NEXT_PUBLIC_FIRESTORE_EMULATOR_HOST=127.0.0.1:8085
NEXT_PUBLIC_FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
